<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    ¨
    <link rel="stylesheet" href="../../assets/global.css" />
  </head>
    <header>
      <nav class="nav-links">
        <a href="../../loggedInPages/home/index.html"><h2>Startsida</h2> </a>
        <a href="../../loggedInPages/vigsel/vigsel.html"><h2>Vigseln</h2></a>
        <a href="../../loggedInPages/festen/festen.html"><h2>Festen</h2></a>
       <!-- <a href="../../loggedInPages/transport/transport.html"><h2>Transport</h2></a> -->
      </nav>
    </header>
</html>
